.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.block-container {
  background-color: #370617;
  width: 1152px;
  height: 700px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.card {
  display: flex;
  background-color: #F48C06;
  width: 468px;
  height: 160px;
  border-radius: 5px;
  margin: 12px;
  padding: 8px;
}

.card__first {
  align-items: flex-end;
}

.card__second {
  justify-content: center;
}

.card__third {
  justify-content: flex-end;
  align-items: center;
}

.card__fourth {
  justify-content: space-between;
}

.card__fifth {
  justify-content: space-around;
  align-items: center;
}

.card__sixth {
  justify-content: center;
  align-items: center;
}

.square {
  background-color: #9D0208;
  display: flex;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.square--one {
  align-self: flex-end;
}

.square--two {
  align-self: flex-start;
  justify-content: center;
  align-items: stretch;
  margin: 15px 45px;
}

.square--three {
  justify-content: center;
  height: 55px;
}

.square--four {
  padding: 0 45px 0 45px;
}

.square--five {
  flex-grow: 1;
}

.block-container--two {
  background-color: #FAA307;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.block {
  display: flex;
  background-color: #03071E;
  width: 273px;
  height: 220px;
  margin: 20px;
}

.block__one {
  align-content: flex-start;
  flex-wrap: wrap;
}

.block__two {
  background-color: #6A040F;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-content: flex-start;
}

.block__three {
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block__four {
  background-color: #6A040F;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

.block__five {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.circle {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #748CAB;
  border-radius: 50%;
  margin: 10px;
}